requests
bs4
aiogram
pyrogram
tgcrypto
pymongo
telegraph
redis
tidalapi
dnspython
pymongo[srv]
faker
httpx
telethon
cryptg
python-decouple
telethon==1.24.0
aioredis
hiredis
colored
aiofiles
psutil
googletrans
